.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #d5eee5;
    z-index: 1;
    margin-bottom: 20px;
}
.span{
    cursor: pointer;
    text-decoration: underline;
}